{% extends 'right-bar-base.html' %}
{% load static %}

{% block title %}Unknown user | ConnectionHub{% endblock %}

{% block center-portion %}
    <div class="posts-area gap-20 dis-col">
        <section class="position-rel dis-col algn-cent padding-10 gap-10 secondary-background card text-color">

            <div class="large-avatar">
                <img class="avatar" src="" alt="profile-picture of @{{ user.username }}">
            </div>
            <div class="dis-col algn-cent gap-10">
                <span class="fullname">Not found</span>
                <span class="username">@{{ user.username }}</span>
            </div>
            <div class="profile-relation-info">
                <span id="followers-count">{{ user.number_of_followers }} Followers</span>
                <i>●</i>
                <span id="followings-count">{{ user.number_of_followings }} Followings</span>
            </div>
        </section>
        <div class="gap-20 dis-col">
            <div class="blank-page">No Posts to show</div>
        </div>
    </div>
    {% include 'chat-button.html' %}
{% endblock %}


{% block scripts %}
<script src="{% static '/js/posts.js' %}"></script>
{% endblock %}
