<h3 class="text-color">Update Password</h3>
<form id="file-input-form" class="gap-10 dis-col width-max">
    {% csrf_token %}
    <div class="dis-col gap-5">
        <label for="password" class="text-color">Current Password</label>
        <input class="secondary-background card text-color" type="password" name="old-password" id="password">
    </div>
    <div class="dis-col gap-5">
        <label for="new-password" class="text-color">New Password</label>
        <input class="secondary-background card text-color" type="password" name="new-password" id="new-password">
    </div>
    <div class="dis-col gap-5">
        <label for="confirm-password" class="text-color">Confirm Password</label>
        <input class="secondary-background card text-color" type="password" name="confirm-password" id="confirm-password">
    </div>
    <div id="error" class="error-message danger-text"></div>
    <div id="success" class="success-message"></div>
    <div>
        <button class="accent-one-bg card" data-form-type="password" type="submit" id="submit-button">Submit</button>
    </div>
</form>