{% extends 'right-bar-base.html' %}
{% load static %}

{% block title %}{{ user.fullname }} | ConnectionHub{% endblock %}

{% block center-portion %}
    <div class="posts-area gap-20 dis-col">
        <section class="position-rel dis-col algn-cent padding-10 gap-10 secondary-background card text-color">
            <div class="less-action-button-corner menu-toggle" for="#menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M3 7H21" stroke="#757575" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M3 12H21" stroke="#757575" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M3 17H21" stroke="#757575" stroke-width="1.5" stroke-linecap="round"></path>
                </svg>
                {% include 'users-profile-menu.html' with id='menu' username=user.username blocked=user.blocked %}
            </div>

            <div class="large-avatar">
                <img class="avatar" src="{{ user.profile_picture }}" alt="profile-picture of @{{ user.username }}">
            </div>
            <div class="dis-col algn-cent gap-10">
                <span class="fullname">{{ user.fullname }}</span>
                <span class="username">@{{ user.username }}</span>
                {% if user.bio %}
                    <span class="bio">{{ user.bio|linebreaksbr }}</span>
                {% endif %}
            </div>
            <div class="profile-relation-info">
                <span id="followers-count-{{ user.username }}">{{ user.number_of_followers }} Followers</span>
                <i>●</i>
                <span id="followings-count-{{ user.username }}">{{ user.number_of_followings }} Followings</span>
            </div>
            {% if not user.self and not user.is_banned and not user.blocked %}
                <div id="follow-button-div">
                    <button class="follow-button accent-two-bg text-color{% if user.is_following %} following{% endif %}"
                            data-username="{{ user.username }}"
                            {% if not user.following %}data-remove-data=".follow-remover-{{ user.username }}"{% endif %}
                            id="follow-button-{{ user.username }}">
                        {% if user.is_following %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                </div>
            {% elif user.blocked %}
                <div id="blocked-text" class="danger-text-color">You blocked this user..</div>
            {% endif %}
        </section>
        <div class="gap-20 dis-col">
            {% for post in user.posts %}
                {% include 'post.html' %}
            {% empty %}
                <div class="blank-page">No Posts to show</div>
            {% endfor %}
        </div>
    </div>
    {% include 'chat-button.html' %}
{% endblock %}


{% block scripts %}
    <script src="{% static '/js/posts.js' %}"></script>
{% endblock %}
