<h3 class="text-color">Profile Settings</h3>
<form id="file-input-form" class="gap-10 dis-col width-max">
    {% csrf_token %}
    <div class="profile-picture">
        <img src="{{ logged_user.profile_picture }}" alt="Old Profile Picture">
        <input type="file" id="new-profile-picture" name="profile-picture" accept="image/*">
        <label class="accent-two-bg" for="new-profile-picture">Choose new picture</label>
    </div>
    <div class="dis-col gap-5">
        <label for="fullname" class="text-color">Full name</label>
        <input placeholder="{{ logged_user.fullname }}" class="secondary-background card text-color" type="text" name="fullname" id="fullname">
    </div>
    <div class="dis-col gap-5">
        <label for="username" class="text-color">Username</label>
        <input placeholder="@{{ logged_user.username }}" class="secondary-background card text-color" type="text" name="username" id="username">
    </div>
    <div class="dis-col gap-5">
        <label for="email-address" class="text-color">Email Address</label>
        <input placeholder="{{ logged_user.email }}" class="secondary-background card text-color" type="text" name="email" id="email-address">
    </div>
    <div class="dis-col gap-5">
        <label for="phone-number" class="text-color">Phone no</label>
        <input placeholder="{% if logged_user.phone %}{{ logged_user.phone }}{% else %}Not given{% endif %}" class="secondary-background card text-color" type="text" name="phone" id="phone-number">
    </div>

    <div class="dis-col gap-5">
        <label for="bio" class="text-color">Bio</label>
        <textarea placeholder="{% if logged_user.bio %}{{ logged_user.bio }}{% else %}Not given{% endif %}" style="height: 200px" name="bio" id="bio" class="secondary-background card text-color"></textarea>
    </div>

    <div class="dis-col gap-5" id="email-otp-field" style="display: none">
        <label for="email-otp" class="text-color">Email OTP</label>
        <input placeholder="Enter the email OTP" class="secondary-background card text-color" type="text" name="email-otp" id="email-otp">
    </div>
    <div id="error" class="error-message danger-text"></div>
    <div id="success" class="success-message"></div>
    <div>
        <button class="accent-one-bg card" data-form-type="profile" type="submit" id="submit-button">Submit</button>
    </div>
</form>