<h3 class="text-color">Delete Account</h3>
<form id="file-input-form" class="gap-10 dis-col width-max">
    {% csrf_token %}
    <div class="dis-col gap-5">
        <label for="password" class="text-color">Enter your Password</label>
        <input class="secondary-background card text-color" type="password" name="password" id="password">
    </div>
    <div id="error" class="error-message danger-text"></div>
    <div>
        <button class="danger-bg card" data-form-type="delete" type="submit" id="submit-button">Submit</button>
    </div>
</form>