<h3 class="text-color settings-header">Delete Account</h3>
<form id="file-input-form">
    {% csrf_token %}
    <div class="settings-elements">
        <label for="password" class="text-color">Enter your Password</label>
        <input class="settings-input text-color" type="password" name="password" id="password">
    </div>
    <div id="error" class="error-message danger-text"></div>
    <div class="settings-elements">
        <input class="settings-submit-button danger-bg card" data-form-type="delete" type="submit" id="submit-button">
    </div>
</form>