{% extends 'users-base.html' %}
{% load static %}

{% block title %}Settings{% endblock %}

{% block content %}
<div class="page-divider">
    <div class="{% if selector %}small-screen-hider{% endif %} full-width algn-cent dis-col gap-10 padding-10">
        <a class="settings-options card{% if privacy_settings %} selected-settings{% endif %}" href="{% url 'privacy-settings' %}">Privacy Settings</a>
        <a class="settings-options card{% if profile_settings %} selected-settings{% endif %}" href="{% url 'update-profile' %}">Profile Settings</a>
        <a class="settings-options card{% if update_password %} selected-settings{% endif %}" href="{% url 'change-password' %}">Change Password</a>
        <a class="settings-options card{% if help_center %} selected-settings{% endif %}" href="{% url 'help-center' %}">Help Center</a>
        <a class="settings-options card danger-text-color{% if delete_account %} danger-bg{% endif %}" href="{% url 'delete-profile' %}">Delete Account</a>
    </div>
    <div class="full-width algn-cent dis-col gap-10 padding-10">
        {% if privacy_settings %}
            {% include 'privacy-settings.html' %}
        {% elif profile_settings %}
            {% include 'profile-update-settings.html' %}
        {% elif update_password %}
            {% include 'profile-change-password.html' %}
        {% elif help_center %}
            {% include 'help-center.html' %}
        {% elif delete_account %}
            {% include 'profile-delete-account.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/users.js' %}"></script>
{% endblock %}

