{% extends 'right-bar-base.html' %}
{% load static %}

{% block title %}ConnectionHub{% endblock %}

{% block center-portion %}
    <div class="posts-area gap-20 dis-col">
        {% include 'search-area.html' %}
        <div class="gap-20 dis-col">
            {% for post_update in post_updates %}
            {% include 'post.html' with post=post_update %}
            {% empty %}
            <div class="blank-page">No Posts to show</div>
            {% endfor %}
        </div>
    </div>
    {% include 'chat-button.html' %}
{% endblock %}


{% block scripts %}
    <script src="{% static '/js/posts.js' %}"></script>
{% endblock %}

{% block urls %}

{% endblock %}
{% url 'like-post' post_id=0 %}
