<a href="{% url 'chat-room' username=user.username %}">
    <div class="dis-row gap-10" style="align-items: center">
        <div class="small-avatar">
            <img class="avatar" src="{{ user.profile_picture }}" alt="Avatar">
        </div>
        <div class="dis-col just-cent">
            <div class="fullname text-color">{{ user.fullname }}</div>
            {% if location %}
            <div class="location">{{ location }}</div>
            {% else %}
            <div class="username text-color">@{{ user.username }}</div>
            {% endif %}
        </div>
        <span class="badge accent-one-bg{% if unviewed %} showing-badge{% endif %}" id="badge-{{ user.username }}"></span>
    </div>
</a>