{% extends 'users-base.html' %}
{% load static %}

{% block title %}Add new post{% endblock %}

{% block content %}
<div class="page-divider">
    <div class="full-width algn-cent">
        <div class="full-width image-upload">
            <label for="file-input">
                <img id="image-preview" src="{% static '/icons/drag-your-image-placeholder.svg' %}" alt="Upload Image">
            </label>
            <input id="file-input" type="file">
        </div>
    </div>
    <div class="full-width">
        <h3 class="text-color settings-header">Enter the details</h3>
        <form id="file-input-form" class="dis-col gap-20">
            {% csrf_token %}
            <div class="dis-col gap-10">
                <label for="caption" class="text-color">Caption</label>
                <textarea style="height: 200px" name="caption" id="caption" class="secondary-background text-color card"></textarea>
            </div>
            <div class="gap-10 dis-col">
                <label for="tags" class="text-color">Tags</label>
                <input class="secondary-background text-color card" type="text" name="tags" id="tags">
            </div>
            <div class="gap-10 dis-col">
                <label for="location" class="text-color">Location</label>
                <input class="secondary-background text-color card" type="text" name="location" id="location">
            </div>
            <div class="danger-text-color" style="display: none" id="error-message"></div>
            <div class="gap-10 dis-col">
                <button class="accent-one-bg card" type="submit" id="submit-button">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static '/js/new-post.js' %}"></script>
{% endblock %}