
<div class="dis-col secondary-background card gap-10" id="post-{{ post.id }}">
    <div class="padding-10 dis-row gap-10">
        {% include 'user-small-data.html' with user=post.user location=post.location %}

    </div>
    <div class="dis-col gap-10 post-content" data-post-id="{{ post.id }}">
        <img class="post-image" src="{{ post.image }}" alt="Post of @{{ post.user.username }}">
        {% if post.caption and post.caption|length > 0 %}
        <div class="post-caption dis-row padding-10 text-color">{{ post.caption }}</div>
        {% endif %}
    </div>
    {% if post.tags %}
    <div style="display: flex; flex-wrap: wrap; padding: 0 10px" class="gap-5">
        {% for tag in post.tags %}
        <a href="{% url 'tag-posts' tag_name=tag %}" class="tag">#{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
    {% include 'post-actions.html' %}
</div>