{% extends 'users-base.html' %}
{% load static %}

{% block title %}Post of @{{ post.user.username }}{% endblock %}

{% block content %}
    <div class="page-divider gap-10">
        <div class="full-width algn-cent">
            <div class="full-width">
                <div class="width-max">
                    <img id="image-preview" src="{{ post.image }}" alt="Post">
                </div>
            </div>
        </div>
        <div class="comment-section full-width dis-col gap-10 position-rel">
            {% if post.user.self %}
                <div class="less-action-button-corner delete-button" data-type="post" data-post-id="{{ post.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M21 5.97998C17.67 5.64998 14.32 5.47998 10.98 5.47998C9 5.47998 7.02 5.57998 5.04 5.77998L3 5.97998"
                              stroke="#FF4136" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
                              stroke="#FF4136" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M18.85 9.14001L18.2 19.21C18.09 20.78 18 22 15.21 22H8.79002C6.00002 22 5.91002 20.78 5.80002 19.21L5.15002 9.14001"
                              stroke="#FF4136" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M10.33 16.5H13.66" stroke="#FF4136" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <path d="M9.5 12.5H14.5" stroke="#FF4136" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </svg>
                </div>
            {% else %}
                <div class="less-action-button-corner report-button" data-username="{{ post.user.username }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z"
                              stroke="#FF4136" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M12 8V13" stroke="#FF4136" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                        <path d="M11.9945 16H12.0035" stroke="#FF4136" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </svg>
                    {% csrf_token %}
                </div>
            {% endif %}
            <div class="dis-col gap-10 secondary-background card padding-10">
                {% include 'user-small-data.html' with user=post.user location=post.location %}
                {% if post.caption %}
                    <div class="bio text-color">{{ post.caption }}</div>
                {% endif %}
                {% if post.tags %}
                    <div style="display: flex; flex-wrap: wrap; padding: 0 10px" class="gap-5">
                        {% for tag in post.tags %}
                            <a href="{% url 'tag-posts' tag_name=tag %}" class="tag">#{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% include 'post-actions.html' %}
            </div>
            <div class="new-comment width-max card" style="z-index: 999">
                <form id="comment-form" action="{% url 'comments-view' post_id=post.id %}" data-post-id="{{ post.id }}">
                    {% csrf_token %}
                    <input type="text" name="comment" placeholder="Add a comment..."
                           class="secondary-background text-color">
                </form>
            </div>
            <div class="dis-col padding-10 comment-section" id="post-comments-list">
                {% for comment in post.comments %}
                    {% include 'comment.html' with comment=comment %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static '/js/posts.js' %}"></script>
    <script src="{% static '/js/users.js' %}"></script>
{% endblock %}