{% extends 'users-base.html' %}
{% load static %}

{% block title %}Saved Posts{% endblock %}

{% block content %}
<div class="saved-posts-root padding-10 dis-col gap-10">
    {% if number_of_saved_posts > 0 %}
    {% for saved_posts_row in saved_posts_rows %}
    <div class="gap-10 dis-col posts-row">
        {% for post in saved_posts_row %}
        <div class="saved-post">
            {% include 'post.html' %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% else %}
    <div class="blank-page">No Posts saved yet..</div>
    {% endif %}
</div>
{% include 'chat-button.html' %}
{% endblock %}


{% block scripts %}
<script src="{% static '/js/posts.js' %}"></script>
<script src="{% static '/js/saved-posts.js' %}"></script>
{% endblock %}