{% extends 'right-bar-base.html' %}
{% load static %}

{% block title %}ConnectionHub{% endblock %}

{% block center-portion %}
<div class="search-area" id="user-search-area">
    <input id="user-search-bar" type="text" class="search-bar secondary-background card text-color" placeholder="Search an user.." data-results-id="user-search-results" data-parent-id="user-search-area">
    <ul id="user-search-results" class="search-results card secondary-background">

    </ul>
</div>
{% include 'posts-list.html' with posts=post_updates%}
{% endblock %}


{% block scripts %}
<script src="{% static '/js/posts.js' %}"></script>
<script src="{% static '/js/users.js' %}"></script>
{% endblock %}