{% extends 'base.html' %}
{% load static %}

{% block title %}Login to your account{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/userhome/login-register.css' %}">
{% endblock %}


{% block body %}
<div class="main-group secondary-background card">
    <div class="form-header">
        <div class="welcome">WELCOME</div>
        <div class="brand-logo">ConnectionHub</div>
    </div>
    <form id="register-form" method="post" action="">
        <span class="sign-in-text text-color">Sign In</span>
        {% csrf_token %}
        <input id="username" class="main-background input-field card text-color" type="text" placeholder="Enter Username">
        <input id="password" class="main-background input-field card text-color" type="password" placeholder="Enter Password">
        <div id="register-error" class="error-message danger-text"></div>
        <button type="submit" id="submit-button" class="accent-two-bg text-color login-form-button card" type="submit">Register</button>
        <div class="register-text text-color">Don't have an account? <a href="{% url 'user-register' %}">Register</a></div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}
