<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Suggestions</h1>
    {% for user in suggestions %}
    <div>
        <b>Username: {{ user.username }}</b><br>
        <b>Fullname: {{ user.full_name }}</b><br>
        <b>Profile Picture: {{ user.profile_picture }}</b><br><br>
    </div>
    {% endfor %}
    <h1>Suggested Posts</h1>
    {% for post in suggest_posts %}
        <b>Username: {{ post.user.username }}</b>
        <b>fullname: {{ post.user.full_name }}</b>
        <b>profile_picture: {{ post.user.profile_picture }}</b>
        <b>Likes: {{ post.likes }}</b>
        <b>Dislikes: {{ post.dislikes }}</b>
    {% endfor %}

    <h1>Followings</h1>
    {% for user in followings %}
    <div>
        <b>Username: {{ user.username }}</b><br>
        <b>Fullname: {{ user.full_name }}</b><br>
        <b>Profile Picture: {{ user.profile_picture }}</b><br><br>
    </div>
    {% endfor %}


</body>
</html>