{% extends 'users-base.html' %}
{% load static %}

{% block title %}Add new post{% endblock %}

{% block content %}
<div class="body-div-without-right-bar">
    <div class="new-post-body">
        <div class="new-post-placeholder image-upload">
            <label for="file-input">
                <img id="image-preview" src="{% static '/icons/drag-your-image-placeholder.svg' %}" alt="Upload Image">
            </label>
            <input id="file-input" type="file">
        </div>
        <div class="settings-side-form">
            <h3 class="text-color settings-header">Enter the details</h3>
            <form id="file-input-form">
                {% csrf_token %}
                <div class="settings-elements">
                    <label for="caption" class="text-color">Caption</label>
                    <textarea style="height: 200px" name="caption" id="caption" class="settings-input text-color"></textarea>
                </div>
                <div class="settings-elements">
                    <label for="tags" class="text-color">Tags</label>
                    <input class="settings-input text-color" type="text" name="tags" id="tags">
                </div>
                <div class="settings-elements">
                    <label for="location" class="text-color">Caption</label>
                    <input class="settings-input text-color" type="text" name="location" id="location">
                </div>
                <div class="settings-elements">
                    <input class="settings-submit-button accent-one-bg card" type="submit" id="submit-button">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/new-post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/styles/users-style.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static '/js/new-post.js' %}"></script>
{% endblock %}
