{% extends 'admin-base.html' %}
{% load static %}

{% block title %}Post of @{{ post.user.username }}{% endblock %}

{% block content %}
<div class="page-divider gap-10">
    <div class="full-width algn-cent">
        <div class="full-width">
            <div class="width-max">
                <img id="image-preview" src="{{ post.image }}" alt="Upload Image">
            </div>
        </div>
    </div>
    <div class="comment-section full-width dis-col gap-10 position-rel">
        <div class="less-action-button-corner delete-button" data-type="post" data-post-id="{{ post.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M21 5.97998C17.67 5.64998 14.32 5.47998 10.98 5.47998C9 5.47998 7.02 5.57998 5.04 5.77998L3 5.97998"
                      stroke="#FF4136" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M8.5 4.97L8.72 3.66C8.88 2.71 9 2 10.69 2H13.31C15 2 15.13 2.75 15.28 3.67L15.5 4.97"
                      stroke="#FF4136" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M18.85 9.14001L18.2 19.21C18.09 20.78 18 22 15.21 22H8.79002C6.00002 22 5.91002 20.78 5.80002 19.21L5.15002 9.14001"
                      stroke="#FF4136" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M10.33 16.5H13.66" stroke="#FF4136" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                <path d="M9.5 12.5H14.5" stroke="#FF4136" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round"></path>
            </svg>
        </div>
        <div class="dis-col gap-10 secondary-background card padding-10">
            {% include 'admin-user-small-data.html' with user=post.user %}
            {% if post.caption %}
            <div class="bio text-color">{{ post.caption }}</div>
            {% endif %}
        </div>
        <div class="dis-col padding-10">
            {% for comment in post.comments %}
            {% include 'admin-comment.html' with comment=comment %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static '/js/posts.js' %}"></script>
<script src="{% static '/js/admin-deletions.js' %}"></script>
{% endblock %}