{% extends 'base.html' %}
{% load static %}

{% block title %}Reset to your account{% endblock %}

{% block body %}
    <div class="view-body center-group gap-20">
        <div class="login-center-portion secondary-background card padding-50 dis-col gap-10">
            <div class="algn-cent dis-col text-color gap-10">
                <span class="welcome text-weight-700">WELCOME BACK</span>
                <span class="brand-color text-weight-400 brand-text">ConnectionHub</span>
            </div>
            <form class="dis-col gap-10 algn-cent just-cent" id="reset-form" method="post" action="">
                <span class="sign-in-text text-color">Reset your account</span>
                {% csrf_token %}
                <input id="username" class="main-background text-color" type="text"
                       placeholder="Enter username.." name="username">
                <input id="otp-input" class="main-background text-color" style="display: none" type="text"
                       placeholder="Enter OTP">
                <input id="password" class="main-background text-color" type="password" style="display: none"
                       placeholder="Enter new password">
                <div id="error" class="error-message danger-text"></div>
                <button type="submit" id="submit-button" class="accent-two-bg text-color card full-width">Send OTP</button>
                <div class="register-text text-color">Back to <a href="{% url 'user-login' %}">Login</a></div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/reset-account.js' %}"></script>
{% endblock %}
