{% extends 'base.html' %}
{% load static %}

{% block title %}Register Now{% endblock %}

{% block body %}
    <div class="view-body center-group gap-20">
        <div class="login-center-portion secondary-background card padding-50 dis-col gap-10">
            <div class="algn-cent dis-col text-color gap-10">
                <div class="welcome text-weight-700">WELCOME</div>
                <div class="brand-color text-weight-400 brand-text">ConnectionHub</div>
            </div>
            <form id="login-form" method="post" action="" class="dis-col gap-10 algn-cent just-cent">
                <span class="sign-in-text text-color">Register Now</span>
                {% csrf_token %}
                <input id="fullname" class="main-background text-color" type="text" placeholder="Fullname">
                <input id="email-address" class="main-background text-color" type="text" placeholder="Email Address">
                <input id="username" class="main-background text-color" type="text" placeholder="Username">
                <input id="password" class="main-background text-color" type="password" placeholder="Password">
                <input id="otp-input" class="main-background text-color" style="display: none" type="text"
                       placeholder="Enter OTP">
                <div id="error" class="error-message danger-text" style="display: none"></div>
                <button type="submit" id="submit-button" class="accent-two-bg text-color card full-width">Send OTP
                </button>
                <div class="register-text text-color">Already have an account? <a href="{% url 'user-login' %}">Log
                    In</a></div>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}

