<h3 class="text-color settings-header">Update Password</h3>
<form id="file-input-form">
    {% csrf_token %}
    <div class="settings-elements">
        <label for="password" class="text-color">Current Password</label>
        <input class="settings-input text-color" type="password" name="old-password" id="password">
    </div>
    <div class="settings-elements">
        <label for="new-password" class="text-color">New Password</label>
        <input class="settings-input text-color" type="password" name="new-password" id="new-password">
    </div>
    <div class="settings-elements">
        <label for="confirm-password" class="text-color">Confirm Password</label>
        <input class="settings-input text-color" type="password" name="confirm-password" id="confirm-password">
    </div>
    <div id="error" class="error-message danger-text"></div>
    <div id="success" class="success-message"></div>
    <div class="settings-elements">
        <input class="settings-submit-button accent-one-bg card" data-form-type="password" type="submit" id="submit-button">
    </div>
</form>