{% extends 'users-base.html' %}
{% load static %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <div class="dis-col gap-20 width-max padding-10">
        {% if requests|length > 0 %}
            <div class="dis-col gap-10 width-max" id="follow-requests-area">
                <h3 class="text-color">Follow Requests</h3>
                {% for request in requests %}
                    <div class="width-max padding-10 just-sb secondary-background card"
                         id="follow-request-{{ request.follower.username }}">
                        {% include 'user-small-data.html' with user=request.follower %}
                        <div class="dis-row gap-10 algn-cent" id="follow-requests-list">
                            <i class="request-accept" data-username="{{ request.follower.username }}"
                               data-remove-data="#follow-request-{{ request.follower.username }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z"
                                          fill="#15850f"></path>
                                    <path d="M10.5795 15.5801C10.3795 15.5801 10.1895 15.5001 10.0495 15.3601L7.21945 12.5301C6.92945 12.2401 6.92945 11.7601 7.21945 11.4701C7.50945 11.1801 7.98945 11.1801 8.27945 11.4701L10.5795 13.7701L15.7195 8.6301C16.0095 8.3401 16.4895 8.3401 16.7795 8.6301C17.0695 8.9201 17.0695 9.4001 16.7795 9.6901L11.1095 15.3601C10.9695 15.5001 10.7795 15.5801 10.5795 15.5801Z"
                                          fill="#15850f"></path>
                                </svg>
                            </i>
                            <i class="request-reject" data-username="{{ request.follower.username }}"
                               data-remove-data="#follow-request-{{ request.follower.username }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
                                    <path d="M12 22.75C6.07 22.75 1.25 17.93 1.25 12C1.25 6.07 6.07 1.25 12 1.25C17.93 1.25 22.75 6.07 22.75 12C22.75 17.93 17.93 22.75 12 22.75ZM12 2.75C6.9 2.75 2.75 6.9 2.75 12C2.75 17.1 6.9 21.25 12 21.25C17.1 21.25 21.25 17.1 21.25 12C21.25 6.9 17.1 2.75 12 2.75Z"
                                          fill="#960000"></path>
                                    <path d="M9.16937 15.5801C8.97937 15.5801 8.78938 15.5101 8.63938 15.3601C8.34938 15.0701 8.34938 14.5901 8.63938 14.3001L14.2994 8.64011C14.5894 8.35011 15.0694 8.35011 15.3594 8.64011C15.6494 8.93011 15.6494 9.41011 15.3594 9.70011L9.69937 15.3601C9.55937 15.5101 9.35937 15.5801 9.16937 15.5801Z"
                                          fill="#960000"></path>
                                    <path d="M14.8294 15.5801C14.6394 15.5801 14.4494 15.5101 14.2994 15.3601L8.63938 9.70011C8.34938 9.41011 8.34938 8.93011 8.63938 8.64011C8.92937 8.35011 9.40937 8.35011 9.69937 8.64011L15.3594 14.3001C15.6494 14.5901 15.6494 15.0701 15.3594 15.3601C15.2094 15.5101 15.0194 15.5801 14.8294 15.5801Z"
                                          fill="#960000"></path>
                                </svg>
                            </i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="width-max dis-col gap-10">
            <h3 class="text-color">Notifications</h3>
            {% for notification in notifications %}
                <div class="notification dis-row secondary-background padding-10 card width-max just-sb algn-cent"
                     data-type="{{ notification.type }}" data-arg="{{ notification.arg_value }}"
                     data-id="{{ notification.id }}">
                    <div class="dis-col">
                        <div class="dis-row gap-10">
                            <div class="text-color notification-head">
                                {% if notification.type == 'like' %}
                                    New like on your post
                                {% elif notification.type == 'comment' %}
                                    New comment on your post
                                {% elif notification.type == 'follow' %}
                                    New follower
                                {% elif notification.type == 'welcome' %}
                                    Welcome
                                {% else %}
                                    New notification
                                {% endif %}
                            </div>
                        </div>
                        <div class="text-color">{{ notification.content }}</div>
                        <div class="notification-time">{{ notification.timestamp }}</div>
                    </div>
                    <span class="badge accent-one-bg{% if not notification.viewed %} showing-badge{% endif %}"></span>
                </div>
            {% empty %}
                <div class="blank-page">No new notifications..</div>
            {% endfor %}
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static '/js/posts.js' %}"></script>
    <script src="{% static '/js/saved-posts.js' %}"></script>
    <script src="{% static '/js/notification.js' %}"></script>
    <script src="{% static '/js/users.js' %}"></script>
{% endblock %}