<html>
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
        <div style="border-bottom:1px solid #eee">
            <a href="" style="font-size:1.4em;color: #F8E71C;text-decoration:none;font-weight:600">ConnectionHub</a>
        </div>
        <p style="font-size:1.1em">Hi {{ name }},</p>
        <p><pre>{{ message }}</pre></p>
        <p style="font-size:0.9em;">Regards,<br/>ConnectionHub</p>
        <hr style="border:none;border-top:1px solid #eee"/>
        <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
            <p>ConnectionHub</p>
        </div>
    </div>
</div>
</html>