{#Project urls#}
<script>
const loginUrl = "{% url 'user-login' %}";
const registerUrl = "{% url 'user-register' %}";
const sendOtpUrl = "{% url 'send-otp' %}";
const verifyOtpUrl = "{% url 'verify-otp' %}";
const checkUsernameUrl = "{% url 'check-username-availability' %}";
const checkEmailUrl = "{% url 'check-email-availability' %}";
const commentUrl = "{% url 'comments-view' post_id=0 %}"
const helpUrl = "{% url 'help-center' %}"
const homeUrl = "{% url 'user-home' %}"
const savedPostsUrl = "{% url 'saved-posts-dashboards' %}"
const newPostUrl = "{% url 'new-post' %}"
const postDetailUrl = "{% url 'post-detail' post_id=0 %}"
const likePostUrl = "{% url 'like-post' post_id=0 %}"
const dislikePostUrl = "{% url 'dislike-post' post_id=0 %}"
const savePostUrl = "{% url 'save-post' post_id=0 %}"
const deletePostUrl = "{% url 'delete-post' post_id=0 %}"
const deleteCommentUrl = "{% url 'delete-comment' comment_id=0 %}"
const reportUserUrl = "{% url 'report-user' username='-username-'%}"
const searchUsersUrl = "{% url 'search-users'%}"
const followUserUrl = "{% url 'follow-user' username='-username-' %}"
const unfollowUserUrl = "{% url 'unfollow-user' username='-username-' %}"
const updateProfileUrl = "{% url 'update-profile' %}"
const updatePasswordUrl = "{% url 'change-password' %}"
const profilePageUrl = "{% url 'profile-pages' username='-username-' %}"
const updateAccTypeUrl = "{% url 'update-acc-type' %}"
const notificationViewUrl = "{% url 'notification-viewed' notification_id=0 %}"
const deleteAccountUrl = "{% url 'delete-profile' %}"
const notificationUrl = "{% url 'notifications-view' %}"
const blockUserUrl = "{% url 'block-user' username='-username-' %}"
const unblockUserUrl = "{% url 'unblock-user' username='-username-' %}"
const sendFollowRequestUrl = "{% url 'send-follow-request' username='-username-' %}"
const cancelFollowRequestUrl = "{% url 'cancel-follow-request' username='-username-' %}"
const respondFollowRequestUrl = "{% url 'respond-follow-request' username='-username-' action='-action-' %}"
const adminMessagePageUrl = "{% url 'admin-messages-page' %}"
const adminHomeUrl = "{% url 'admin-home' %}"
const adminLoginUrl = "{% url 'admin-login' %}"
const adminLogoutUrl = "{% url 'admin-logout' %}"
const adminPostDetailUrl = "{% url 'admin-posts-page' post_id=0 %}"
const adminPostDeleteUrl = "{% url 'admin-posts-delete' post_id=0 %}"
const adminCommentDeleteUrl = "{% url 'admin-comments-delete' comment_id=0 %}"
const adminReportPageUrl = "{% url 'admin-report-page' %}"
const adminReportHandleUrl = "{% url 'admin-report-handled' report_id=0 %}"
const adminUsersPageUrl = "{% url 'admin-users' %}"
const adminUserProfileUrl = "{% url 'admin-profile-pages' username='-username-' %}"
const adminUserBanUrl = "{% url 'admin-profile-ban' username='-username-' %}"
const adminUserUnbanUrl = "{% url 'admin-profile-unban' username='-username-' %}"
</script>
