:root{
    --main-background: #121212;
    --secondary-background: #1C1C1C;
    --main-background-disabled: #3f3f3f;
    --text-color: #F2F2F2;
    --text-color-disabled: #757575;
    --accent-one: #F8E71C;
    --accent-two: #4C4CFF;
    --accent-three: #C74CD2;
    --danger-color: #FF0000;
}
