.login-center-portion {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.left-bar-elements label{
    display: none;
}

.left-bar-elements{
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}

.left-bar{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    height: min-content;
    width: 100vw;
    justify-content: space-around;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.users-list {
    grid-template-columns: 1fr;
}

.admin-user-data {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.posts-area{
    min-width: 0;
    width: 100%;
    max-width: 100%;
}

.left-bar-logo{
    display: none;
}

.left-bar-except-root{
    margin-left: 0;
    padding: 20px 10px 100px;
}

.right-bar {
    display: none;
}

.page-divider {
    flex-direction: column;
    height: auto;
    padding: 10px;
}

.new-comment {
    position: relative;
}

.saved-post-width {
    width: 100%;
}

.small-screen-hider{
    display: none;
}

.hide-chat-side{
    display: none;
}

.msg .msg-img{
    display: none;
}

.chat-root {
    height: 100%;
    box-sizing: border-box;
}

.chat-button {
    bottom: 80px;
}

.chat-side-bar{
    width: 100%;
}

#chat-search-box input{
    width: 100%;
}
