.login-center-portion {
    width: 100%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
}

.left-bar-elements label{
    display: none;
}

.left-bar-elements{
    padding: 10px;
}

.left-bar-logo{
    display: none;
}

.left-bar{
    min-width: fit-content;
}

.left-bar-except-root{
    width: 90%;
    max-width: 100%;
    margin-left: 50px;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
}

.right-bar {
    display: none;
    min-width: 0;
}

.page-divider {
    flex-direction: column;
    height: auto;
}

.new-comment {
    position: relative;
}

.saved-post-width {
    width: 100%;
}

.small-screen-hider{
    display: none;
}

.users-list {
    grid-template-columns: 1fr;
}

.admin-user-data {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.posts-area{
    min-width: 0;
    width: 100%;
    max-width: 100%;
}

.hide-chat-side{
    display: none;
}

.chat-side-bar{
    width: 100%;
}

#chat-search-box input{
    width: 100%;
}
