{% extends 'right-bar-base.html' %}
{% load static %}

{% block title %}{{ user.fullname }} | ConnectionHub{% endblock %}

{% block center-portion %}
<section class="profile-section secondary-background card text-color">
    <div class="large-avatar">
        <img class="avatar" src="{{ user.profile_picture }}" alt="profile-picture of @{{ user.username }}">
    </div>
    <div class="profile-details">
        <span class="profile-name">{{ user.fullname }}</span>
        <span class="profile-username">@{{ user.username }}</span>
        {% if user.bio %}
        <span class="profile-bio">{{ user.bio }}</span>
        {% endif %}
    </div>
    <div class="profile-relation-info">
        <span id="followers-count">{{ user.number_of_followers }} Followers</span>
        <i>●</i>
        <span id="followings-count">{{ user.number_of_followings }} Followings</span>
    </div>
    {% if not user.self %}
    <div>
        <button class="follow-button page-button accent-two-bg text-color {% if user.is_following %}following{% endif %}" data-username="{{ user.username }}">
        {% if user.is_following %}
            Unfollow
        {% else %}
            Follow
        {% endif %}
        </button>
    </div>
    {% endif %}
</section>

<section class="profile-posts">
<div class="main-post-area">
{% if user.posts|length > 0 %}
{% include 'posts-list.html' with posts=user.posts %}
{% else %}
<div class="blank-page">No Posts to show</div>
{% endif %}
</div>
</section>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/users-style.css' %}">
{% endblock %}


{% block scripts %}
<script src="{% static '/js/posts.js' %}"></script>
{% endblock %}